@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: #6a6a6a;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #323232;
}

a {
    color: #323232;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: #f50e5d;
}

.link::before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #f50e5d;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.link:hover::before {
    width: 20px;
}

img {
    width: 100%;
}

section {
    padding: 120px 0;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bg-cover-1.jpg);
    background-position: center;
    background-size: cover;
}

.btn {
    font-weight: 500;
    padding: 14px 32px;
    border-radius: 5px;
    transition: all 0.2s ease;
}


.btn-primary {
    background-color: #f50e5d;
    border-color: #f50e5d;
}

.btn-primary:hover {
    background-color: #f50e5d;
    border-color: #f50e5d;
    transform: scale(1.1);
}


#about {
    position: relative;
}

#about::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f50e5d;
    z-index: -1;
}

#about h6 {
    color: #f50e5d;
}

@media (max-width: 992px) {
    #about::before {
        height: 40%;
        width: 100%;
    }   
}


.section-title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.section-title h6 {
    color: #f50e5d;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    transition: all 1s ease;
}

.project a {
    width: 120px;
    height: 120px;
    display: grid;
    align-content: center;
    text-align: center;
    font-weight: 12px;
    font-weight: 700;
    background-color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
}

.project:hover img {
    transform: scale(1.2);
}

.project:hover a {
    visibility: visible;
    opacity: 1;
    top: 50%;
}


footer ul {
    list-style: none;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
}

.footer-top {
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}